body {
    font-family: 'Karla' !important;
}

h2 {
    font-weight: 700;
    font-size: 2em;
    font-family: 'Inconsolata';
    color: #333;
    line-height: 25px;
}

p {
    font-size: 1.15em;
    color: #555;
}

#intro {
    color: #fff;
    letter-spacing: 5px;
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 1.5em !important;
    text-transform: uppercase;
    line-height: 0.8em;
    text-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 0 auto;
}

.category {
    font-weight: 400 !important;
    font-size: 0.6em !important;
}

#left, #right, #intro {
    font-family: 'Inconsolata';
    position: absolute;
    color: #fff;
}

#left {
    transform: rotate(-90deg);
    top: 46vh;
    left: -5vw;
    border-bottom: 1px solid #fff;
}

#right {
    transform: rotate(90deg);
    top: 46vh;
    right: -5vw;
    border-bottom: 1px solid #fff;
}

#banner .vert {
    background: rgba(1, 45, 179, 0.05);
     height: 100%;
    width: 100%;
    margin: 0;
}

#intro {
right: 40vw;
top: 5vw;
}

#banner .overlay {
    margin: 0;
    position: absolute;
    
}

#work img {
    width: 100%;
}

#banner {
    height: 100vh;
    color: #fff;
    background: url('http://i.imgur.com/vhAFXNp.jpg');
    background-size: cover;;
    font-weight: 700;
}

#work {
    
}

.action-button {
    border-bottom: 2px solid #0066f8;
    padding: 5px 10px;
    color: #0066f8 !important;
    font-weight: 700;
    font-family: 'Inconsolata';
    text-transform: uppercase;
    margin-right: 5px;
    margin-bottom: 2em;
    float: left;
}

.block {
    padding-left: 4em;
    text-align: left;
}

.container-fluid {
   padding: 0 !important; 
}

.feature {
    text-align: center;
    height: 100vh;
     background-image:
    linear-gradient(
      to top right, 
      #fdfcfb, #f6f1ee
    );
    padding: 20vh;
}

.feature img {
    width: 100%;
}

.facade-minimal {
    background-size: cover !important;
    height: 15em;
    margin: 0 auto;
}

#go-day-bg {
    background: url(https://static1.squarespace.com/static/5718065e555986362577f7c9/57180a1045bf2142841eadf6/57198f78c2ea51227a0986a8/1461369415207/Screenshot+2016-04-21+at+7.05.48+PM.png);
}

#agual-bg {
    background: url(https://static1.squarespace.com/static/5718065e555986362577f7c9/57180a66f699bb3a1e387c20/571d79c27da24ff057ba7743/1461549533147/Screenshot+2016-04-24+at+6.49.48+PM.png);
}

#timeable-bg {
    background: url(https://static1.squarespace.com/static/5718065e555986362577f7c9/57180a83f85082df1d4f0efd/571abd9a40261d6b2e646809/1461370282088/Screenshot+2016-04-22+at+5.10.37+PM.png);
}

.action-button:hover {
    color: #0051c6;
}

footer {
    text-align: center;
    font-family: 'Inconsolata';
    background: #fff;
}